html,
body {
    --bs-dark: var(var(--nat-navbar-bg));
    --bs-dark-rgb: var(--nat-navbar-bg-rgb);
    box-sizing: border-box;
    width: 100vw;
    background: fixed center url('/hamilton-library-bg.png');
    background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
